<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.project.repository.StarMapper">

    <select id="getList" resultType="www.project.domain.StarVO">
        select * from star where email = #{currentId}
    </select>

    <insert id="insertRate" >
        insert into star(email,rate,media_id,date) values(#{email},#{rate},#{mediaId},now())
    </insert>

    <select id="getAlreadyStar" resultType="www.project.domain.StarVO">
        select * from star where email=#{email} and media_id=#{mediaId}
    </select>

    <update id="updateRate">
        update star set rate=#{rate} where email=#{email} and media_id=#{mediaId}
    </update>

    <select id="getAlreadyComment">
        select * from comment where email=#{email} and media_id=#{mediaId}
    </select>

    <insert id="insertComment">
        insert into comment(media_id,content,spoiler,email,reg_date) values(#{mediaId},#{content},#{spoiler},#{email},now())
    </insert>

    <update id="updateComment">
        update comment set content=#{content},spoiler=#{spoiler} where email=#{email} and media_id=#{mediaId}
    </update>

    <select id="getCommentList" resultType="www.project.domain.CommentListDTO">
        SELECT c.*,cl.*,s.*
        FROM comment c
        LEFT JOIN comment_like cl ON c.comment_code = cl.comment_code
        JOIN star s ON c.email = s.email AND c.media_id = s.media_id
        WHERE c.media_id = #{mediaId};
    </select>



</mapper>