<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.project.repository.UserMapper">
    <insert id="joinUser">
        insert into user(email, nickname, pw) values (#{email},#{nickname},#{pw})
    </insert>

    <insert id="insertAuth">
        insert into auth values(#{email},'ROLE_USER')
    </insert>

    <select id="checkNick" resultType="int">
        select count(nickname) from user where nickname=#{nickName}
    </select>

    <select id="findEmail" resultType="www.project.domain.UserVO">
        select * from user where nickname=#{nick}
    </select>

    <select id="checkEmail" resultType="www.project.domain.UserVO">
        select * from user where email=#{email}
    </select>

    <select id="selectAuth" resultType="www.project.domain.AuthVO">
        select * from auth as a join user as u on u.email=a.email where a.email=#{email}
    </select>
</mapper>