<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
    <link rel="stylesheet" href="/dist/css/findUser.css">
</head>
<body>
    <div class="findEModalArea">
        <div class="findEModal"></div>
    </div>
    <div class="container">
        <div class="findUser">
            <div class="findLogo"></div>
            <div class="findEmail findArea">
                <span>이메일 찾기</span>
                <span class="findNoNick"></span>
                <input type="text" placeholder="가입하신 닉네임을 입력해주세요." class="findNickInput">
                <button type="button" class="findEmailBtn">이메일 확인하기</button>
            </div>
            <div class="findPw findArea">
                <div class="findPwText">비밀번호 찾기</div>
                <div>가입하신 이메일로 임시 비밀번호를 보내드립니다!</div>
                <input type="text" placeholder="가입하신 닉네임을 입력해주세요." class="findPwInput">
                <input type="text" placeholder="가입하신 이메일을 입력해주세요." class="findPwInput">
                <button type="button" class="findPwBtn">이메일 보내기</button>
            </div>
            <div class="LoginHref">
                <a th:href="@{/user/login}">로그인 하기</a>
            </div>
        </div>
    </div>
<script src="/dist/js/findUser.js"></script>
</body>
</html>