<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>프로필</title>
</head>
<style>
    body {
        text-align: center;
    }
    #myProfile {
        display: inline-block;
        width: 200px;
        height: 200px;
        margin-top: 20px;
    }
    #title {
        margin-top: 100px;
    }
    form {
        margin-top: 40px;
    }
</style>
<body>
<h2 id="title"></h2>
<img id="myProfile" alt="no">
<form action="/user/uploadProfilePicture" method="post" enctype="multipart/form-data" onsubmit="closePopupAndReloadParent()">
    <input type="hidden" name="userId" value="currentId">
    <input type="file" name="file" required>
    <input type="submit" value="등록">
</form>
</body>
<script>
    // let currentId = `[[${#authentication.name}]]`;
    let currentId = 'ehdwo13@gmail.com';

    //유저정보
    async function getUserInfo(currentId) {
        try {
            const url = '/user/info/' + currentId;
            const config = {
                method: 'GET'
            };
            const resp = await fetch(url, config);
            const result = await resp.json();
            return result;
        } catch (e) {
            console.log(e);
        }
    }

    function displayProfileImage(profilePath) {
        document.getElementById('myProfile').src = profilePath;
    }

    function closePopupAndReloadParent() {
        window.opener.location.reload();
        window.close();
    }

    getUserInfo(currentId).then(result => {
        document.getElementById('myProfile').src = result.profile ? result.profile : "/dist/image/person-circle.svg";
        if (result.profile == null || result.profile == '') {
            document.getElementById('title').innerText = "프로필 이미지 등록";
        } else {
            document.getElementById('title').innerText = "프로필 이미지 수정";
            displayProfileImage(result.profile);
        }
    });
</script>
</html>
