<!DOCTYPE html>
<title>제목</title>
<html lang="ko">
<link rel="stylesheet" th:href="@{/dist/css/detail.css}">
<th:block th:replace="~{header :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
  <div class="wrap">
    <div class="detailWrap">
        <div class="detail1">
            <div class="detailInfo">
                <ul class="detailInfoList">
                    <li class="detailVoteLi">
                        <label class="detailVote"></label>
                    </li>
                    <li class="detailTitleli">
                        <h1 class="detailTitle"></h1>
                    </li>
                    <li class="detailcateLi">
                        <div class="detailcate"></div>
                    </li>
                </ul>
            </div>
            <img class="mainposter">

        </div>

        <div class="detail2"></div>
        <div class="detail3"></div>
    </div>
  </div>
        <script th:src="@{/dist/js/movieDetail.js}"></script>
    </th:block>

</th:block>
</html>