<!DOCTYPE html>
<title>제목없음</title>
<html lang="ko">
<link rel="stylesheet" th:href="@{/dist/css/detail.css}">
<th:block th:replace="~{header :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
  <div class="wrap">
    <div class="detailWrap">
       <div class="detail1">
           <div class="detail1Top">
               <div class="detail1VoteAverage">⭐4.8</div>
                <h1 class="detailTopTitle">제목 길이의 영향이 없을 정도로 길게 써보기</h1>
               <div class="detail1StoryWrap">
               <div class="detail1Story">13살이 된 라일리의 행복을 위해 매일 바쁘게 머릿속 감정 컨트롤 본부를 운영하는 ‘기쁨’, ‘슬픔’, ‘버럭’, ‘까칠’, ‘소심’. 그러던 어느 날, 낯선 감정인 ‘불안’, ‘당황’, ‘따분’, ‘부럽’이가 본부에 등장하고, 언제나 최악의 상황을 대비하며 제멋대로인 ‘불안’이와 기존 감정들은 계속 충돌한다. 결국 새로운 감정들에 의해 본부에서 쫓겨나게 된 기존 감정들은 다시 본부로 돌아가기 위해 위험천만한 모험을 시작하는데…</div>
               </div>
           </div>
       </div>
        <div class="detail2"></div>
        <div class="detail3"></div>
    </div>
  </div>
    </th:block>
</th:block>
</html>