<!DOCTYPE html>
<title>제목</title>
<html lang="ko">
<link rel="stylesheet" th:href="@{/dist/css/detail.css}">
<th:block th:replace="~{header :: setFragment(~{this::content})}">
    <th:block th:fragment="content">
        <div class="wrap">
            <div class="detailWrap">
                <div class="detail1">
                    <div class="detailInfo">
                        <ul class="detailInfoList">
                            <li class="detailVoteLi">
                                <label class="detailVote"></label>
                            </li>
                            <li class="detailTitleli">
                                <h1 class="detailTitle"></h1>
                            </li>
                            <li class="detailcateLi">
                                <div class="detailcate"></div>
                            </li>
                            <li class="detailStoryLi">
                                <div class="detailStory">
                                    <span class="detailText">
                                    </span>
                                    <span class="more-text">더보기</span>
                                    <span class="less-text">줄이기</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <img class="mainposter">
                </div>
                <div class="detail2">
                    <div class="voteAverage">
                        <div class="voteComment">
                            <span>해당 작품에 대한 별점을 주세요.</span>
                        </div>
                        <div class="voteStar">
                            <span>별</span>
                            <span>별</span>
                            <span>별</span>
                            <span>별</span>
                            <span>별</span>
                        </div>
                    </div>
                    <div class="detailComment">
                        <form action="/movie/comment" method="post">
                            <textarea type="text" placeholder="이 작품에 대한 평을 남겨보세요."></textarea>
                            <div class="detail1Review">
                                <div class="detailCheck">
                                    <input type="checkbox" id="spoiler">
                                    <label for="spoiler">스포일러</label>
                                </div>
                                <div class="detailSubmitBtn">
                                    <button type="submit">등록</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="detail3"></div>
            </div>
        </div>
        <script th:src="@{/dist/js/movieDetail.js}"></script>
    </th:block>

</th:block>
</html>